<h1>注文情報入力</h1>
<%= form_with model: @order, url: orders_confirm_path, local:true do |f| %>
<h2>支払い方法</h2>
<%= f.radio_button :payment_method, "クレジット" %>
<%= f.label :payment_method, "クレジット", {value: :credit, style: "display: inline-block;"} %>
<%= f.radio_button :payment_method, "現金" %>
<%= f.label :payment_method, "現金", {value: :cash, style: "display: inline-block;"} %>

<h2>お届け先</h2>
<%= f.radio_button :address_option, 0 %>
<%= f.label :address, "ご自身の住所" %>
〒<%= @customer.postal_code %> <%= @customer.address %> <br>
<%= @customer.last_name %><%= @customer.first_name %>

<br>  
<%= f.radio_button :address_option, 1 %>  
<%= f.label :addresses, "登録済住所から選択" %> 
<%= f.collection_select :addresses , current_customer.addresses, :id, :address, :include_blank => "選択してください" %>

<br>
<%= f.radio_button :address_option, 2 %>
<%= f.label :address, "新しいお届け先" %>
<p>郵便番号<%= f.text_field :postal_code, autofocus: true %></p>
<p>住所<%= f.text_field :address, autofocus: true %></p>
<p>宛名<%= f.text_field :name, autofocus: true %></p>
<%= f.submit "確認画面に進む" %> 


<% end %>
